.square{
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    top: 200px;
    opacity: 0.5;
    transform-origin: 80px 80px 80px;
    transform-style: preserve-3d;
}
#container{
    position: absolute;
    top: 420px;
}
#navbar{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:mediumblue;
    text-shadow: 2px 2px 0px black;
    padding-left: 50px;
    height: 80px;
    background-color: dodgerblue;
}
@media screen and (max-width: 400px) {
    .square{
        width: 80px;
        height: 80px;
        top: 100px;
        transform-origin: 40px 40px 40px;
    }
    #container{
        font-size: 15px;
        top: 250px;
    }
    #navbar{
        height: 40px;
        font-size: 25px;
        padding-left: 20px;
    }
}
